[Unit]
Description=Start a wayland application
After=weston.service
Requires=weston.service

[Service]
Restart=always
Type=forking
ExecStart=/usr/bin/wayland-app-launch.sh

[Install]
WantedBy=multi-user.target
